@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Moo+Lah+Lah&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

h1 {
    color: #c53535;
    font-family: 'Moo Lah Lah', cursive;
    font-size: 77px;
    margin: 10px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

body {
    background-color: rgb(155, 184, 240);
    background-image: linear-gradient(315deg, rgb(255, 242, 55) 0%, rgb(151, 176, 223) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#player-container {
    margin: 40px 0;
}

.counter {
    font-family: 'Moo Lah Lah', cursive;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide 0.2s ease-out;
}

@keyframes hide {
    0% {
        transform:translate(-50%, -50%) scale (1);
    }
    100% {
        transform: translate(-50%, -50%) scale (0);
    }
}

h2 {
    font-size: 32px;
    margin: 7px;
    text-transform: uppercase;
}

.final {
    display: none;
    position: fixed;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%) scale (0);
    text-align: center;
}

.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show 0.8s ease-out;
}

@keyframes show {
    0% {
        transform:translate(-50%, -50%) scale (0);
    }
    30% {
        transform:translate(-50%, -50%) scale (1.4);
    }
    100% {
        transform:translate(-50%, -50%) scale (1);
    }
}

.nums {
    color: #165077;
    font-size: 75px;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 50px;
}

.nums span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    transform-origin: bottom center;
}

.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: goIn 0.5s ease-in-out
}

.nums span.out {
    animation: goOut 0.5s ease-in-out
}

@keyframes goIn {
    0% {
        transform:translate(-50%, -50%) rotate (120deg);
    }
    30% {
        transform:translate(-50%, -50%) rotate (-20deg);
    }
    60% {
        transform:translate(-50%, -50%) rotate (10deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate (0deg);
    }
}

@keyframes goOut {
    0% {
        transform:translate(-50%, -50%) rotate (0deg);
    }
    60% {
        transform:translate(-50%, -50%) rotate (20deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate (-120deg);
    }
}

.categories-container  {
    padding: 0;
    margin:0;
    cursor: pointer;
}

.quiz-container, 
.results {
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba( 100, 100, 100, 0.1);
    width: 450px;
    overflow: hidden;
}

.quiz-header {
    padding: 1rem;
}

.quiz-header .timer{
    display: flex;
    background:cornflowerblue
}

.quiz-header .timer .time_text {
    font-weight: bold;
    font-size: 17px;
    user-select: none;
}

.score {
    background-color: cornflowerblue;
    font-weight: bold;
    font-size: 17px;
    width: 85px;
}

h4 {
    padding: 1rem;
    text-align: center;
    margin: 0;
    font-family: 'Fira Sans';
    font-size: 22px;
}

ul {
    list-style-type: none;
    position: relative;
    display: block;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: blue;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: .4rem;
    margin: 10px 0;
}

button:hover {
    background-color: lightcoral;
}

button:focus {
    outline: none;
    background-color: rgb(252, 190, 166);
}
